$color-dark-red: #b23e4d;
$color-light-red: #ff5a6e;
$color-red: #dd4f34;
$color-gray: #4d4d4d;

$font-alegreya: 'Alegreya', serif;
$font-mont: 'Montserrat', sans-serif;
$font-lato: 'Lato', sans-serif;
